[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ env }}.venkysiridevops.online
Environment=CATALOGUE_HOST=catalogue-{{ env }}.venkysiridevops.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target